<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISondageService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:1234/SondageWS" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISondageService" contract="ServiceReference1.ISondageService"
                name="BasicHttpBinding_ISondageService" />
        </client>
    </system.serviceModel>
</configuration>